/* HTML Tag Selection */
body {
    padding: 0px;
    margin: 0px;
    background-color: black;
}

h1 {
    color: #481E14;
    font-size: 4em;
}

h2 {
    
    font-size: 2em;
    font-style: italic;
}

/* ID selection */

#container {
    /* border: white solid 3px; */
    width: 75%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;   
}

#title {
    
    width: 60%;
    height: 50%;
    text-align: center;
    line-height: 75px;
 }

#title > h1 {
    
    width: 1000px;
}

#title > h2 {
    
    width: 1000px;
    height: 45px;
    padding: 0px;
    margin: 0px;
}

#titleimg {
    padding-top: 50px;
    width: 40%;
    height: 100%;
    text-align: center;
    line-height: 75px;
}

#titleimg > img {
    border-radius: 30%;
}

#basicskills {
    height: 60px;
    border: #481E14 solid 2px;
    box-shadow: 10px 5px 5px 12px #481E14;
    font-size: 25px;
    padding-top: 30px;
}

#advanceskills {
    color: white;
    height: 60px;
    border: #481E14 solid 2px;
    box-shadow: 10px 5px 5px 12px #481E14;
    font-size: 25px;
    padding-top: 30px;
}


/* Class Selection */

.selections {
    /* border: yellow solid 3px; */
    width: 100%;
    height: 300px;
    color: white;
}

.header {
    width: 100%;
    height: 30em;
    display: flex;
    flex-direction: row;
    position: relative;
}

.summary > h2 {
    color: #481E14;
    text-align: center;
}

.summary > p {
    margin-left: 100px;
    width: 1250px;
    height: 100px;
}