/* HTML Tag Selection */
body {
    background-color: black;
}

/* ID selection */

#container {
    border: white solid 3px;
    width: 75%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;   
}

#title {
    
    width: 60%;
    height: 50%;
    text-align: center;
    line-height: 75px;
    font-size: 5em;
    
    
}

#titleimg {
    
    width: 40%;
    height: 100%;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    
}


/* Class Selection */

.selections {
    border: yellow solid 3px;
    width: 100%;
    height: 300px;
    color: white;
}

.header {
    width: 100%;
    height: 30em;
    display: flex;
    flex-direction: row;
    position: relative;
}